doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/styles/main.css')
	body#HomePage
		div#PortfolioOptimization
			nav#PortfolioTitleBar.navbar.navbar-inverse.navbar-fixed-top
			div#PortfolioContent
				div#ContractsView.container-fluid
				div#ConstraintsView.container-fluid
	script(src='/js/home/bundle.js')